<div class="content-container">

    <div>
        {{#if articles}}
            {{#each articles}}
            <div class="card">
                <div class="card-body">
                    <div class="article-edit"><a href="./edit-{{id}}">Edit</a></div> 
                    <div class="article-delete"><a href="./delete-{{id}}">Delete</a></div>
                    <h1 class="card-title">{{title}}</h1>
                    <p class="card-time">{{timestamp}}</p>
                    <div><img class="card-image" src="./images/Dragonite.png"></a></div>
                    <h2 class="card-content">{{{content}}}</h2>
                </div>
                <div class="btn-box">
                    <a href="#">Read More</a>
                </div>
            </div>
            {{/each}}
        {{else}}
        <p>You have no articles! Go <a href="./newArticle">Create Article</a> now!</p>
        {{/if}}
    </div>
</div>

