<div class="profile-container">
{{#if articles}}
    {{#each articles}}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title"><a href="./article-{{id}}">{{title}}</a><hr></h1>
            <p class="card-text">{{{content}}} <br><br> {{timestamp}}</p>
        </div>
    </div>
    {{/each}}
{{else}}
<p>You have no articles! Go <a href="./newArticle">Create Article</a> now!</p>
{{/if}}
</div>

