<div>

    <div class="name-container">
        {{#if user}}
        <h1>Hello, {{user.fname}}!</h1>
        {{else}}
        <h1>Hello, stranger!</h1>
        {{/if}}
    </div> 

</div>

<div class="home-container">

    <div>
        {{#if articles}}
            {{#each articles}}
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><a href="./article?articleId={{id}}">{{title}}</a></h1>
                    <p class="card-time">{{timestamp}}</p>
                    <h2 class="card-description">{{articleDescription}}</h2>
                </div>
                <div class="btn-box">
                    <a href="./article?articleId={{id}}">Read More</a>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="name-container">
            <h2>Have fun reading the articles!</h2>
        </div>
        
        {{/if}}
    </div>
    
</div>