<div class="content-container">

    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <div class="page-header">
        <h1>My Account Detail!</h1>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{user.fname}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{user.lname}}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{user.dateOfBirth}}</td>
            </tr>
            <tr>
                <th>Brief description of yourself:</th>
                <td>{{user.description}}</td>
            </tr>
        </tbody>
    </table>

    <form>
        <div class="flex-row justify-sb align-center">
            <a href="./updateAccount">Update Profile</a>
        </div>
    </form>
    <form>
        <div class="flex-row justify-sb align-center">
            <a href="./updatePassword">Update Password</a>
        </div>
    </form>
    <form>
        <div class="flex-row justify-sb align-center">
            <a href="./deleteAccount">Delete My Account</a>
        </div>
    </form>
</div>


