<div class="new-article-container">

{{#if article}}{{else}}<div id="newArticleHeader"><h1>Create your new post!</h1></div>{{/if}}

<form action={{#if article}}"./edit?articleId={{article.id}}"{{else}}"./newArticle"{{/if}} method="POST">

  <div id="titlediv">
{{!--     <h1 name="title" id="tinyTitle">{{#if article}}{{article.title}}{{/if}} --}}
    <input type="text" name="title" id="tinyTitle" value="{{#if article}}{{article.title}}{{/if}}">
  </div>

  <div>
    <textarea name="content" id="tinyContent">{{#if article}}{{article.content}}{{/if}}</textarea>
  </div>
  
 <div>
    <button type="submit">Submit!</button>
    <a href="./myProfile"><input type="button" value="Cancel"></a>
  </div>
</form>

</div>