<div class="new-article-container">

{{#if article}}{{else}}<div id="newArticleHeader"><h1>Create your new post!</h1></div>{{/if}}

{{#if toastMessage}}
  <p>{{toastMessage}}</p>
{{/if}}

<form action={{#if article}}"./edit?articleId={{article.id}}"{{else}}"./newArticle"{{/if}} method="POST">

    <div id="titlediv">
        <p id="articleLabels"><label for="txt">Article Title:</label></p>
        <input type="text" name="title" id="tinyTitle" value="{{#if article}}{{article.title}}{{/if}}">
    </div>

    <div id="titlediv">
        <p id="articleLabels"><label for="articleDescription">Article Description:</label></p>
        <input type="text" name="articleDescription" id="tinyTitle" value="{{#if article}}{{article.articleDescription}}{{/if}}">
    </div>

    <div>
        <p id="articleLabels"><label for="articleDescription">Article Content:</label></p>
        <textarea name="content" id="tinyContent">{{#if article}}{{article.content}}{{/if}}</textarea>
    </div>
      
    <div>
        <button type="submit" id="articleSubmit">Submit!</button>
        <a href="./myProfile"><input type="button" value="Cancel"></a>
    </div>

</form>

</div>