<div class="card">
        <div class="card-body">
            <div class="article-edit"><a href="./edit-{{article.id}}">Edit</a></div>
            <div class="article-delete"><a href="./delete-{{article.id}}">Delete</a></div>
            <h1 class="card-title">{{article.title}}<hr></h1>
            <p class="card-text">{{{article.content}}} <br><br> {{article.timestamp}}</p>
        </div>
    </div>

<textarea id="my-expressjs-tinymce-app">Hello, World!</textarea>