<div class="content-container">

    {{! reference the client side js }}
    <script src="../update.js"></script>

    <div class="auth-container">
    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <h1 class="auth-title"><b>Update Account Details</b></h1>
        <form action="./updateAccount" method="POST">

            <div>
                <p>My profile photo:</p> 
                <div class="avatar-detail">
                    <input style="display: none;" type="text" name="profileAvatar" id="profileAvatar" value="{{user.icon}}">
                    <img id="profileImg" class="profile-avatar" src="{{user.icon}}">
                    <br>
                    <div id="avtarGallery">
                        <img class="avatar" src="../avatar/avatar1.png">
                        <img class="avatar" src="../avatar/avatar2.png">
                        <img class="avatar" src="../avatar/avatar3.png">
                        <img class="avatar" src="../avatar/avatar4.png">
                        <img class="avatar" src="../avatar/avatar5.png">
                        <img class="avatar" src="../avatar/avatar6.png">
                    </div>
                </div>
                
            </div>

            <div class="flex-col mb">
                <label for="txtUsername"><b>Username:</b></label>
                <input type="text" name="username" id="txtUsername" value="{{user.username}}" required>
            </div>

            <div class="flex-col mb">
                <label for="txtFirstName"><b>First Name:</b></label>
                <input type="text" name="fname" id="txtFirstName" value="{{user.fname}}" required>
            </div>

            <div class="flex-col mb">
                <label for="txtLastName"><b>Last Name:</b></label>
                <input type="text" name="lname" id="txtLastName" value="{{user.lname}}" required>
            </div>

            <div class="flex-col mb">
                <label for="dateBirthdate"><b>Date of Birth:</b></label>
                <input type="date" name="dateOfBirth" id="dateBirthdate" value="{{user.dateOfBirth}}" required>
            </div>

            <div class="flex-col mb">
                <label for="txtDescription"><b>Brief description of yourself:</b></label>
                <input type="text" name="description" id="txtDescription" value="{{user.description}}" required>
            </div>

            <div class="btn-box">
                <button type="submit">Update Personal Information</button>
            </div>
        </form>
    </div>

</div>