<div class="content-container">

    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <h1>Update Account Details</h1>
    <form action="./updateAccount" method="POST">
        <div class="flex-col mb">
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" value="{{user.username}}" required>
        </div>

        <div class="flex-col mb">
            <label for="txtFirstName">First Name:</label>
            <input type="text" name="fname" id="txtFirstName" value="{{user.fname}}" required>
        </div>

        <div class="flex-col mb">
            <label for="txtLastName">Last Name:</label>
            <input type="text" name="lname" id="txtLastName" value="{{user.lname}}" required>
        </div>

        <div class="flex-col mb">
            <label for="dateBirthdate">Date of Birth:</label>
            <input type="date" name="dateOfBirth" id="dateBirthdate" value="{{user.dateOfBirth}}" required>
        </div>

        <div class="flex-col mb">
            <label for="txtDescription">Brief description of yourself:</label>
            <input type="text" name="description" id="txtDescription" value="{{user.description}}" required>
        </div>

        <div class="flex-row justify-sb align-center">
            <button type="submit">Update Personal Information</button>
        </div>
    </form>

</div>